# Global
NODE_ENV=development

# Database
MONGO_URI=mongodb://localhost:27017/salok
REDIS_URL=redis://localhost:6379

# Services
PORT_SERVER=5000
PORT_AI=5001
PORT_NOTIFICATION=5002

# Client
VITE_API_URL=http://localhost:5000

# Security
JWT_SECRET=super_secret_key_change_in_production
